In [1]:
library('dplyr')
library("zoo")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [2]:
Data = read.table(file="data/TG_STAID000031.txt",skip = 20,header=TRUE,sep=',')
Data <- filter(Data,Q_TG==0)
Data <- Data[,-c(1,2,5)]
Data$DATE <- strptime(Data$DATE, format = "%Y%m%d")
tail(Data)

      DATE       TG
37597 2002-12-26 118
37598 2002-12-27 138
37599 2002-12-28 128
37600 2002-12-29 115
37601 2002-12-30 115
37602 2002-12-31 122

In [55]:
data_past<-filter(data_annual_monthly_mean,data_annual_monthly_mean$Group.1==1967 |
                 data_annual_monthly_mean$Group.1==1968 |
                 data_annual_monthly_mean$Group.1==1969 |
                 data_annual_monthly_mean$Group.1==1970 |
                 data_annual_monthly_mean$Group.1==1971)
data_monthly_mean_past <- aggregate(data_past[,3],list(data_past[,2]),mean)
hottest_past = max(data_monthly_mean_past$x)
coldest_past = min(data_monthly_mean_past$x)
# data_monthly_mean_past
# data_monthly_quantils_past<- aggregate(data_past[,3],list(data_past[,2]),quantile,c(0.10,0.90))
# # data_monthly_quantils_past

data_pre<-filter(data_annual_monthly_mean,data_annual_monthly_mean$Group.1==1998 |
                 data_annual_monthly_mean$Group.1==1999 |
                 data_annual_monthly_mean$Group.1==2000 |
                 data_annual_monthly_mean$Group.1==2001 |
                 data_annual_monthly_mean$Group.1==2002)
data_monthly_mean_pre <- aggregate(data_pre[,3],list(data_pre[,2]),mean)
hottest_pre = max(data_monthly_mean_pre$x)
coldest_pre = min(data_monthly_mean_pre$x)
# # data_monthly_mean_pre
# data_monthly_quantils_pre<- aggregate(data_pre[,3],list(data_pre[,2]),quantile,c(0.10,0.90))
# # data_monthly_quantils_pre

# plot(data_past$`Group.2`,data_past$x)
# lines(data_monthly_mean_past$`Group.1`,data_monthly_mean_past$x,col="red")
# lines(data_monthly_quantils_past$`Group.1`,data_monthly_quantils_past$x[,1],col="blue")
# lines(data_monthly_quantils_past$`Group.1`,data_monthly_quantils_past$x[,2],col="blue")

# plot(data_pre$`Group.2`,data_pre$x)
# lines(data_monthly_mean_pre$`Group.1`,data_monthly_mean_pre$x,col="red")
# lines(data_monthly_quantils_pre$`Group.1`,data_monthly_quantils_pre$x[,1],col="blue")
# lines(data_monthly_quantils_pre$`Group.1`,data_monthly_quantils_pre$x[,2],col="blue")

hottest_past
hottest_pre
coldest_past
coldest_pre

[1] 230.9548

[1] 244.1484

[1] 78.18065

[1] 93.87097