In [6]:
library('dplyr')
library("zoo")
directory = '/media/nicolas/Elements/data/'
time_past = 1970
time_pre = 2010
STAID='000013'
time=time_pre
path_to_tempmean = paste(directory,'TG/TG_STAID',STAID,'.txt',sep='')

In [7]:
openfile <- function(path_to_data){
    Data <- read.table(path_to_data,skip = 20,header=TRUE,sep=',')
    Data <- filter(Data,Data[,5]==0)               
    Data <- Data[,-c(1,2,5)]
    Data$DATE <- strptime(Data$DATE, format = "%Y%m%d")
 
    Data <- filter ( Data, Data$DATE$year > time - 1905 & Data$DATE$year <= time - 1900)
    return(Data)
}

In [8]:
data <- openfile (path_to_tempmean)
data

     DATE       TG
1    2006-01-01 -34
2    2006-01-02  -2
3    2006-01-03   1
4    2006-01-04 -13
5    2006-01-05 -57
6    2006-01-06 -76
7    2006-01-07 -67
8    2006-01-08 -63
9    2006-01-09 -78
10   2006-01-10 -82
11   2006-01-11 -83
12   2006-01-12 -94
13   2006-01-13 -84
14   2006-01-14 -87
15   2006-01-15 -88
16   2006-01-16 -86
17   2006-01-17 -58
18   2006-01-18   0
19   2006-01-19   4
20   2006-01-20 -29
21   2006-01-21 -29
22   2006-01-22   3
23   2006-01-23 -37
24   2006-01-24 -76
25   2006-01-25 -94
26   2006-01-26 -64
27   2006-01-27 -43
28   2006-01-28  -4
29   2006-01-29   7
30   2006-01-30 -17
⋮    ⋮          ⋮
1797 2010-12-02 -18
1798 2010-12-03 -13
1799 2010-12-04 -44
1800 2010-12-05 -44
1801 2010-12-06  11
1802 2010-12-07  50
1803 2010-12-08  57
1804 2010-12-09  45
1805 2010-12-10  13
1806 2010-12-11   6
1807 2010-12-12   3
1808 2010-12-13 -39
1809 2010-12-14 -59
1810 2010-12-15 -49
1811 2010-12-16 -67
1812 2010-12-17 -65
1813 2010-12-18 -58
1814 2010-12-19 -46
1815 2010-12-20  -4
1816 2010-12-21 -32
1817 2010-12-22  59
1818 2010-12-23  71
1819 2010-12-24  35
1820 2010-12-25  -5
1821 2010-12-26 -44
1822 2010-12-27 -66
1823 2010-12-28 -33
1824 2010-12-29   2
1825 2010-12-30   4
1826 2010-12-31 -40